.actions {
  margin-top: 0.5em;
  padding-top: 0.3em;
  color: gray;
  font-size: 0.9em;
  text-align: right;
  border-top: 1px rgb(220, 220, 220) solid;

  > button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;

    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}

.card {
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: white;
}
