.actions {
  > button {
    margin: 0;
    padding: 0;
    color: gray;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0.2em;

    &:hover {
      color: black;
      cursor: pointer;

      &.delete {
        color: red;
      }
    }

    &:nth-child(n+2) {
      margin-left: 1em;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em 0.5em 0.5em;
}

.column {
  width: 20em;
  margin: 1em 0 0 1em;
  background-color: rgba(255, 255, 255, 0.5);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 0.5em;
}

.title {
  font-weight: bold;
}
