.actions > button {
  margin: 0;
  padding: 0.3em 0.5em;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0.2em;

  &:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  background-color: white;
}
