@import "~sass-google-fonts/src/GoogleFonts";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@include google-font('Lato');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-image: linear-gradient(deepskyblue, skyblue);
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 16px;
}
